<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head th:replace="~{fragments/header :: header}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
</head>
<link href="../../../static/css/main.css" rel="stylesheet"/>
<link href="../../../static/css/boardForm.css" rel="stylesheet"/>
<body>
    <div th:replace="~{fragments/navigation :: bar}"></div>

    <div class="container">
        <a href="#" onclick="history.back()" class="back-button">뒤로가기</a>

        <div class="post">
            <h2 class="title" th:text="${title}"></h2>
            <p class="info" th:text="'작성일자:' + ${published}">작성일자: xxxx-xx-xx</p>
            <p class="info" th:text="'작성자: ' + ${author.id}" >작성자: 홍길동</p>
            <hr>
            <div class="content">
                <pre th:text="${content}" style="font-family: Pretendard SemiBold, serif;"></pre>
            </div>
        </div>

        <div class="comments-section">
            <span>댓글</span>
            <div class="comment-input">
                <input type="text" placeholder="댓글을 입력하세요">
                <button class="comment-submit" type="submit">></button>
            </div>

            <div class="comment">
                <p class="comment-id">ID: user123</p>
                <p class="comment-content">내용: 댓글 내용입니다.</p>
            </div>
        </div>
    </div>
</body>
</html>