<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head th:replace="~{fragments/header :: header}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<link href="../../../static/css/main.css" rel="stylesheet"/>
<link href="../../../static/css/chat/chat.css" rel="stylesheet"/>
<link href="../../../static/css/chat/fileUpload.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<body>
    <div th:replace="~{fragments/navigation :: bar}"></div>
    <input id="room-uuid" type="hidden" th:value="${chatRoomDTO.uuid}"/>

    <div id="chat-container">
        <div id="room-info">
            <div id="room-title" th:text="|방 제목:${chatRoomDTO.title}|">방 제목</div>
            <div id="room-owner" th:text="|소유자:${chatRoomDTO.nickname}|">소유자</div>
        </div>
        <div id="messages"></div>
        <div id="dragdrop-container"></div>
        <div id="preview-container"></div>
        <div id="chat-input-container">
            <form id="send-form" action="#">
                <label for="message-input"></label><input type="text" id="message-input" placeholder="메시지를 입력하세요" autocomplete="off">

                <input type="file" id="image-input" accept="image/*" hidden multiple>
                <button id="image-btn" type="button" title="이미지 첨부" onclick="document.getElementById('image-input').click()">
                    <i class="fa-solid fa-paperclip"></i>
                </button>

                <button id="send-btn" type="submit">전송</button>
            </form>
        </div>
    </div>

</body>
<div id="user-info" th:attr="data-id=${id}"></div>
<script src="../../../static/js/chat/chat.js"></script>
<script src="../../../static/js/chat/fileUpload.js"></script>
</html>