<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head th:replace="fragments/header :: header">
    <title>HOME</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link href="../../static/css/home.css" rel="stylesheet"/>
<body>
    <div class="container" >
        <div class="header-text">메인 화면</div>
        <div class="main" >
            <div class="header-container">Spring MVC Exam</div>
            <div class="form-container">
                <div th:if="${loginErr} == 'PE'" class="alert alert-danger alert-dismissable text-left" id="pwdErr">
                    잘못된 입력입니다.
                </div>
                <form role="form" th:action="@{/login}" th:object="${loginRequest}" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="" th:field="*{id}">
                        <label for="floatingInput">아이디</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="" th:field="*{password}">
                        <label for="floatingPassword">비밀번호</label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-dark" style="margin-top: 20px"> 로그인</button>
                        <button type="button" class="btn btn-outline-dark" style="margin-top: 20px"
                                th:onclick="|location.href='@{/signup}'|" > 회원가입</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div style="color: #f0f0f0" th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>