<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head th:replace="~{fragments/header :: header}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<link href="../../static/css/main.css" rel="stylesheet"/>
<link href="../../static/css/post.css" rel="stylesheet"/>
<body>
    <div th:replace="~{fragments/navigation :: bar}"></div>

    <div class="container">
        <div th:each="post : ${posts}" class="card" th:onclick=" 'move_details('+${post.id}+')' ">
            <script>
                function move_details(id) {
                    window.location.href = "/details/" + id;
                }
            </script>
            <div class="thumbnail">
                <img th:src="@{'/display/' + ${post.thumbnailName}}" alt="썸네일"/>
            </div>
            <div class="info">
                <span th:text="${post.title}" class="subject">제목</span>
                <span th:text="${post.author.id}" class="author">작성자</span>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- 검색창 -->
        <div class="search-bar">
            <form th:action="@{/main}" th:object="${postSearch}" method="get" >
                <input th:field="*{search}" type="text" maxlength="100" placeholder="검색">
                <input th:field="*{page}" type="hidden">
                <button type="submit">검색</button>
            </form>
        </div>
        <!-- 페이지네이션 -->
        <div class="pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
            <a href="#">9</a>
            <a href="#">></a>
            <a href="#">>></a>
        </div>

        <!-- 글쓰기 버튼 -->
        <button class="write-btn" onclick="location.href='post'">글쓰기</button>
    </div>




</body>

</html>