body {
    font-family: "Pretendard SemiBold", serif;
    height: 100vh;
    width: 100vw;
}


.my-info {
    color: honeydew;
}


.nav {
    display: flex;
    align-items: center; /* 중앙 정렬 */
    height: 8vh;
    background-color: #333333;
    margin-bottom: 0px;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-link {
    color: honeydew;
}

.ml-auto {
    margin-left: auto;
}

.project-name {
    font-size: 30px;
    color: darkolivegreen;
}