
#abandoned-animal-div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
}

#abandoned-animal-div h1 {
    border-bottom: 2px solid #666666;
    text-align: center;
    width: 90%;
    padding-bottom: 20px;
}

#abandoned-animal-list {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between; /* 자식 요소 사이에 균등한 간격 */
}

#abandoned-animal-list .animal-list {
    flex: 1;
    margin: 0 5px;
}

.animal-title {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.dog {
    background-color: #fff3b4;
}

.cat {
    background-color: #ffb7bd;
}

.etc {
    background-color: #ceb7ff;
}