<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head th:replace="~{fragments/header :: header}">
</head>
<link href="../../../static/css/home.css" rel="stylesheet"/>
<body>
<div class="container" >
    <div class="header-text">메인 화면</div>
    <div class="main" >
        <div class="header-container">Spring MVC Exam</div>
        <div class="form-container">
            <form role="form" id="logoutForm" th:action="@{/logout}" method="post">
                <a href="/main">메인으로</a>
                <div class="form-floating mb-3">
                    <div>
                        <span> 아이디 </span>
                        <span style="color: #cccccc" th:text="${username}" />
                    </div>
                    <div>
                        <span> 닉네임</span>
                        <span style="color: #cccccc" th:text="${nickname}" />
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-dark" style="margin-top: 20px"> 로그아웃</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div style="color: #f0f0f0" th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>